/* ============================

=============================== */


/* ============================
        External Font
=============================== */

@import url('http://fonts.cdnfonts.com/css/poppins');

/* ============================
        Feneral Style
=============================== */

html,
body {
    font-family: 'Poppins', sans-serif;
    background: var(--white02);
}

/* ============================
        Color Variable
=============================== */

:root {
    --purple01: #5D5FEF;
    --purple02: #ABADC6;
    --purple03: #EEEFFF;
    --white01: #ffffff;
    --white02: #f6f6f6;
    --grey-deep: #DDDDDD;
    --lightblack: #858585;
    --darkblack: #515151;
    --black02: #121221;
    --paste-thin: #718797;
    --Pixel7: .4375rem;
}


/* ============================
        Common Class
=============================== */

.common-color {
    color: var(--purple01);
}

.common-bg {
    color: var(--white01);
    background: var(--purple01);
}

.common-border {
    border: 1px solid var(--purple01);
}

.light-black-color {
    color: var(--lightblack);
}
.dark-black{
    color: var(--darkblack);
}

.text-black02{
    color: var(--black02);
}
.text-paste-thin{
    color: var(--paste-thin);
}

.fw-medium {
    font-weight: 500;
}

.py-7 {
    padding: var(--Pixel7) 0px;
}

.px-7 {
    padding: 0px var(--Pixel7);
}

.navbar-button{
    color: var(--lightblack);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.navbar-button:hover{
    color: var(--purple01);
}

.categories-button{
    color: var(--lightblack);
    border: none;
    background: transparent;
    transition: all 0.3s ease-in-out;
}
.categories-button:hover{
    color: var(--purple01);
    background-color: #EEEFFF;
    border-radius: 3px;
}
.categories-button-active{
    color: var(--purple01);
    background-color: #EEEFFF;
    border-radius: 3px;
}

/* ============================
        Select Option
  ============================== */

.select-filter{
    color: var(--purple02);
}

/* ============================
         Post Author Image
============================== */

.post-author-img{
    max-width: 40px;
    border: 2px solid var(--grey-deep);
    border-radius: 50%;
}